<launch>
	<include file="$(find turtlebot_stage)/launch/turtlebot_in_stage.launch" />
	<!-- <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch" /> -->
	<!-- <remap from="turtlebot_teleop_keyboard" to="tele" /> -->
	<node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard"  output="screen">
		<param name="scale_linear" value="0.5" type="double"/>
		<param name="scale_angular" value="1.5" type="double"/>
		<remap from="turtlebot_teleop_keyboard/cmd_vel" to="tele"/>
	</node>

	<node name="driver" pkg="exercise1" type="driver.py" output="screen"/>
</launch>
