<launch>
	<node name="fib" pkg="malpac4" type="comp.py" output="screen" />
	<!--node name="spy" pkg="malpac" type="spy.py" output="screen" />
	<node name="talker" pkg="malpac" type="talker.py" output="screen" >
		<remap from="chatter" to="repeat"/>
	</node>
	<node name="repeater" pkg="malpac" type="redirect.py" output="screen" >
		<remap from="chatter" to="repeat"/>
	</node-->


</launch>
